/* container */
.flex_container{
   max-width:  1440px;
   width: 100%;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}


    

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;

}



nav{
    display: inline-block;
}

.li1{
display: inline-block;
font-family: 'Ubuntu', sans-serif;
font-size: 24px;
font-weight: 500;
color:  #27187F;
;


}


.search_box{
    display: flex;
    justify-content: end;
    display: inline-block;
    width: 221px;
    border: 3px solid #27187F;
    border-radius: 10px;
}



/* header */
h1{
    font-family: 'Ubuntu', sans-serif;
font-size: 32px;
font-weight: 700;
line-height: 37px;
letter-spacing: 0em;
text-align: left;
color: #27187F;

}

/* nav */

/* div */


/* section */
section{
    width: 1440px;
    
    
    
}
.bigbox{
    background: #DDEAF8;
    width: 1440px;
    
}
.cards{
    width: 100%;
    flex-wrap: wrap;
        


}
.ph1{
    background: #FFFFFF;;
    width: 27.7%;
    height: 333px;
    
}
p{
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #133B3A;
}
/* footer */
footer{
    background: #758BFD;
    width: 1440px;
    height: 504px;
}
.trending{
    display: inline-block;
}

h3{
    font-family: Century Gothic;
font-size: 18px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: #00CAD7;

}

h4{
    font-family: Century Gothic;
font-size: 15px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: #FFFFFF;

}

.list{
    font-family: Century Gothic;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
display: flex;
align-items: center;
}

.trending{
    display: inline-block;
}
.information{
    display: inline-block;
}
.customer-care{
    display: inline-block;
}






