/* container */
.flex_container{
   max-width:  1440px;
   width: 100%;
    margin: 0 auto;
    
   
}


    

header{
    display: flex;
    justify-content: space-between;
    padding: 0 98px;
    align-items: center;
    height: 160px;

}



nav{
    
}
.headerul{
    display: flex;
    gap: 50px;
}

.li1{
display: inline-block;
font-family: 'Ubuntu', sans-serif;
font-size: 24px;
font-weight: 500;
color:  #27187F;

;


}


.search_box{
    display: flex;
    width: 221px;
    border: 3px solid #27187F;
    border-radius: 10px;
}






/* header */
h1{
    font-family: 'Ubuntu', sans-serif;
font-size: 32px;
font-weight: 700;
line-height: 37px;
letter-spacing: 0em;
text-align: left;
color: #27187F;
margin-bottom: 68px;

}

/* nav */

/* div */


/* section */
section{
    width: 1440px;
    
    
    
}
.bigbox{
    background: #DDEAF8;
    width: 100%;
    padding: 94px 98px 135px;
    
}
.cards{

    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 51px;

}
.box1{
    background: #FFFFFF;;
    width: 27.7%;
    height: 333px;
    padding: 33px 30px;
    border-radius: 10px;
    
}
.box2{
    background: #FFFFFF;;
    width: 27.7%;
    height: 333px;
    padding: 33px 30px;
    border-radius: 10px;
   
}
.box3{
    background: #FFFFFF;;
    width: 27.7%;
    height: 333px;
    padding: 33px 30px;
    border-radius: 10px;
  
}
.box4{
    background: #FFFFFF;;
    width: 27.7%;
    height: 333px;
    padding: 33px 30px;
    border-radius: 10px;
   
}
.box5{
    background: #FFFFFF;;
    width: 27.7%;
    height: 333px;
    padding: 33px 30px;
    border-radius: 10px;
   
}
.box6{
    background: #FFFFFF;;
    width: 27.7%;
    height: 333px;
    padding: 33px 30px;
    border-radius: 10px;
    
}

.photo1{height: 188px;
    width: 100%;
    margin-bottom: 33px;

}
.photo2{height: 188px;
    width: 100%;
    margin-bottom: 33px;

}
.photo3{height: 188px;
    width: 100%;
    margin-bottom: 33px;

}
.photo4{height: 188px;
    width: 100%;
    margin-bottom: 33px;

}
.photo5{height: 188px;
    width: 100%;
    margin-bottom: 33px;

}
.photo6{height: 188px;
    width: 100%;
    margin-bottom: 33px;

}



p{
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #133B3A;
}
/* footer */
footer{
    background: #758BFD;
   padding: 75px 98px;
    
}
.textbox{
    display: flex;
    justify-content: space-between;
}

   


h3{
    font-family: Century Gothic;
font-size: 18px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: #00CAD7;


}

h4{
    font-family: Century Gothic;
font-size: 15px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: #FFFFFF;

}

.list{
    font-family: Century Gothic;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
display: flex;
align-items: center;
}

.cards1{
    display: flex;
    justify-content: flex-end;
    gap: 11px;
    margin-top: 97px;
}








